.button-icon {
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #000;
  }
  
  .button-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #000;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  
  }
  
  .button-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #000;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  
  }
  
  .button-icon.button-icon-active {
    background-color: transparent;
  }
  
  .button-icon.button-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  
  .button-icon.button-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }